<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ideal Dizayn Admin</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="assets/css/fonts/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap_limitless.css" rel="stylesheet" type="text/css">
    <link href="assets/css/layout.css" rel="stylesheet" type="text/css">
    <link href="assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="assets/css/colors.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script src="assets/js/custom/jquery.min.js"></script>
    <script src="assets/js/custom/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/blockui.min.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="assets/js/plugins/visualization/d3.min.js"></script>
    <script src="assets/js/plugins/visualization/d3_tooltip.js"></script>
    <script src="assets/js/plugins/forms/bootstrap_multiselect.js"></script>
    <script src="assets/js/plugins/forms/validation/validate.min.js"></script>
    <script src="assets/js/plugins/forms/select2.min.js"></script>
    <script src="assets/js/plugins/forms/uniform.min.js"></script>
    <script src="assets/js/plugins/forms/inputmask.js"></script>
    <script src="assets/js/plugins/forms/autosize.min.js"></script>
    <script src="assets/js/plugins/forms/form_validation.js"></script>
    <script src="assets/js/plugins/fancybox.min.js"></script>
    <script src="assets/js/plugins/gallery.js"></script>
    <script src="assets/js/plugins/bootbox.min.js"></script>
    <script src="assets/js/plugins/forms/form_controls_extended.js"></script>
    <script src="assets/js/plugins/summernote.min.js"></script>

    <script src="assets/js/app.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/plugins/dashboard.js"></script>

    <!-- /theme JS files -->
</head>
<body>
<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-brand">
        <a href="index.html" class="d-inline-block text-light">
            İdeal Dizayn
        </a>
    </div>

    <div class="d-md-none">
        <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
            <i class="icon-paragraph-justify3"></i>
        </button>
    </div>
</div>
<!-- /main navbar -->
<!-- Page content -->
<div class="page-content">

    <!-- Main sidebar -->
    <div class="sidebar sidebar-light sidebar-main sidebar-expand-md">

        <!-- Sidebar mobile toggler -->
        <div class="sidebar-mobile-toggler text-center">
            <a href="#" class="sidebar-mobile-main-toggle">
                <i class="icon-arrow-left8"></i>
            </a>
            Menubar
            <a href="#" class="sidebar-mobile-expand">
                <i class="icon-screen-full"></i>
                <i class="icon-screen-normal"></i>
            </a>
        </div>
        <!-- /sidebar mobile toggler -->


        <!-- Sidebar content -->
        <div class="sidebar-content">
            <!-- Main navigation -->
            <div class="card card-sidebar-mobile">
                <ul class="nav nav-sidebar" data-nav-type="accordion">
                    <!-- Main -->
                    <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Əsas menu</div> <i class="icon-menu" title="Main"></i></li>
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">
                            <i class="icon-home4"></i>
                            <span>Əsas səhifə</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="news.html" class="nav-link">
                            <i class="icon-newspaper"></i>
                            <span>Xəbərlər</span>
                        </a>
                    </li>
                    <li class="nav-item nav-item-submenu">
                        <a href="#" class="nav-link"><i class="icon-stack4"></i> <span>Mebellər</span></a>

                        <ul class="nav nav-group-sub" data-submenu-title="Mebellər">
                            <li class="nav-item"><a href="product.html" class="nav-link">Rəhbər dəstləri</a></li>
                            <li class="nav-item"><a href="product.html" class="nav-link">Menecer dəstləri</a></li>
                            <li class="nav-item"><a href="product.html" class="nav-link">İşçi dəstləri</a></li>
                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link">Toplantı Masaları</a>
                                <ul class="nav nav-group-sub">
                                    <li class="nav-item"><a href="product.html" class="nav-link">Rəhbər toplantı masaları</a></li>
                                    <li class="nav-item"><a href="product.html" class="nav-link">Menecer toplantı masaları</a></li>
                                    <li class="nav-item"><a href="product.html" class="nav-link">Modular toplantı masalar</a></li>
                                </ul>
                            </li>
                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link">Kürsü və stullar</a>
                                <ul class="nav nav-group-sub">
                                    <li class="nav-item"><a href="product.html" class="nav-link">Rəhbər kürsüləri</a></li>
                                    <li class="nav-item"><a href="product.html" class="nav-link">Müsafir kürsüləri</a></li>
                                    <li class="nav-item"><a href="product.html" class="nav-link">İşçi kürsüləri</a></li>
                                    <li class="nav-item"><a href="product.html" class="nav-link">Stullar</a></li>
                                    <li class="nav-item"><a href="product.html" class="nav-link">Gözləmə kürsüləri</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a href="product.html" class="nav-link">Resepşn</a></li>
                            <li class="nav-item"><a href="product.html" class="nav-link">Yumşaq mebellər</a></li>
                            <li class="nav-item"><a href="product.html" class="nav-link">Teatral kürsülər</a></li>
                            <li class="nav-item"><a href="product.html" class="nav-link">Aksesuarlar</a></li>
                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link">Restoran-kafe-bar</a>
                                <ul class="nav nav-group-sub">
                                    <li class="nav-item"><a href="product.html" class="nav-link">Masalar</a></li>
                                    <li class="nav-item"><a href="product.html" class="nav-link">Stullar</a></li>
                                    <li class="nav-item"><a href="product.html" class="nav-link">Interyer</a></li>
                                </ul>
                            </li>
                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link">Təhsil ocaqları</a>
                                <ul class="nav nav-group-sub">
                                    <li class="nav-item"><a href="product.html" class="nav-link">Məktəb mebeli</a></li>
                                    <li class="nav-item"><a href="product.html" class="nav-link">Partalar</a></li>
                                    <li class="nav-item"><a href="product.html" class="nav-link">Toplantı yerləri</a></li>
                                    <li class="nav-item"><a href="product.html" class="nav-link">Oturacaqlar</a></li>
                                    <li class="nav-item"><a href="product.html" class="nav-link">Oturacaqlar</a></li>
                                    <li class="nav-item"><a href="product.html" class="nav-link">Laboratoriya</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="sales.html" class="nav-link active">
                            <i class="icon-price-tags"></i>
                            <span>Fürsətlər</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="pages.html" class="nav-link">
                            <i class="icon-stack"></i>
                            <span>Səhifələr</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="portfolio.html" class="nav-link">
                            <i class="icon-grid-alt"></i>
                            <span>Portfolio</span>
                        </a>
                    </li>
                    <!-- /main -->
                </ul>
            </div>
            <!-- /main navigation -->

        </div>
        <!-- /sidebar content -->

    </div>
    <!-- /main sidebar -->



    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Page header -->
        <div class="page-header page-header-light">
            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4><span class="font-weight-semibold">Endirimli Məhsul</span></h4>
                </div>
            </div>

            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="news.html" class="breadcrumb-item active">Əsas səhifə</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page header -->

        <div class="content">
            <!-- Simple lists -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <a href="add-sale-product.html" class="btn btn-primary legitRipple"><i class="icon-plus3 mr-2"></i>Yeni məhsul</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table text-center">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Şəkil</th>
                                        <th>Model adı</th>
                                        <th>Sırası</th>
                                        <th>Yeni Qiymət</th>
                                        <th>Köhnə Qiymət</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <a href="assets/images/placeholder.jpg"  data-popup="lightbox">
                                                <img src="assets/images/placeholder.jpg" width="50px" height="50px"/>
                                            </a>
                                        </td>
                                        <td>Qarderob</td>
                                        <td>1</td>
                                        <td>560</td>
                                        <td>1400</td>
                                        <td class="text-right">
                                            <span class="mr-2 d-inline-block">
                                                <a href="edit-sale-product.html ">
                                                    <i class="icon-pencil7 icon-1x" data-popup="tooltip" title="" data-original-title="Redaktə et"></i>
                                                </a>
                                            </span>
                                            <span class="mr-2 d-inline-block">
                                                <a href="#" class="sale-product-delete">
                                                    <i class="icon-trash icon-1x text-danger"  data-popup="tooltip" title="" data-original-title="Sil"></i>
                                                </a>
                                            </span>
                                            <span class="mr-2 d-inline-block">
                                                <a href="#">
                                                    <i class="icon-eye icon-1x  text-success-400" data-popup="tooltip" title="" data-original-title="gizlət"></i>
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <a href="assets/images/placeholder.jpg"  data-popup="lightbox">
                                                <img src="assets/images/placeholder.jpg" width="50px" height="50px"/>
                                            </a>
                                        </td>
                                        <td>Şkaf</td>
                                        <td>2</td>
                                        <td>260</td>
                                        <td>480</td>
                                        <td class="text-right">
                                            <span class="mr-2 d-inline-block">
                                                <a href="edit-sale-product.html ">
                                                    <i class="icon-pencil7 icon-1x" data-popup="tooltip" title="" data-original-title="Redaktə et"></i>
                                                </a>
                                            </span>
                                            <span class="mr-2 d-inline-block">
                                                <a href="#" class="sale-product-delete">
                                                    <i class="icon-trash icon-1x text-danger"  data-popup="tooltip" title="" data-original-title="Sil"></i>
                                                </a>
                                            </span>
                                            <span class="mr-2 d-inline-block">
                                                <a href="#">
                                                    <i class="icon-eye icon-1x  text-success-400" data-popup="tooltip" title="" data-original-title="gizlət"></i>
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /simple lists -->
        </div>

        <!-- Footer -->
        <div class="navbar navbar-expand-lg navbar-light">
            <div class="navbar-collapse collapse" id="navbar-footer">
                <span class="navbar-text text-center">&copy; 2019</span>
            </div>
        </div>
        <!-- /footer -->

    </div>
    <!-- /main content -->

</div>
<!-- /page content -->

</body>
</html>