<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-grid.min.css">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="assets/fonts/fontawesome/styles.min.css"/>

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">

    <!-- MegaMenu -->
    <link rel="stylesheet" href="assets/webslidemenu/dropdown-effects/fade-down.css">
    <link rel="stylesheet" href="assets/webslidemenu/webslidemenu.css">

    <!-- Zoom -->
    <link rel="stylesheet" href="assets/css/xzoom.css">
    <link rel="stylesheet" href="assets/css/jquery.fancybox.css">
    <link rel="stylesheet" href="assets/css/lightgallery.min.css">
    <link rel="stylesheet" href="assets/css/lightslider.min.css">

    <!-- main css -->
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Ideal Dizayn</title>
</head>
<body>
<header>
    <div class="top-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 logo-header">
                    <a href="index.html"><img class="logo" src="assets/image/logo.png"/></a>
                </div>
                <div class="col-md-4">
                    <div class="search">
                            <span class="search-input">
                            <input type="text" class="input-text" placeholder="Sayt üzrə axtarış edin..."/>
                            <button><i class="fas fa-search"></i></button>
                            </span>
                    </div>
                </div>
                <div class="col-md-4 center-end">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                    <span class="contact-phone"><i class="fas fa-phone-volume"></i>*3434</span>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="container">
            <!-- Mobile Header -->
            <div class="wsmobileheader clearfix">
                <div>
                    <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
                    <span class="smllogo"><a href="index.html"><img src="assets/image/logo.png" alt="" /></a></span>
                </div>
                <div class="search">
                        <span class="search-input">
                        <input type="text" class="input-text" placeholder="Sayt üzrə axtarış edin..."/>
                        <button><i class="fas fa-search"></i></button>
                        </span>
                </div>
            </div>
            <!-- Mobile Header -->
            <div class="row py-md-3">
                <div class="col-md-12">
                    <nav class="wsmenu clearfix">
                        <ul class="wsmenu-list">
                            <li class="scroll-logo">
                                <a href="index.html"><img src="assets/image/logo.png"/></a>
                            </li>
                            <li aria-haspopup="true" class="scroll-menu"><a href="#" class="wshomeicon active">MƏHSULLAR <span class="wsarrow"></span></a>
                                <div class="wsmegamenu clearfix">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/001.jpg" alt="" /> </div>
                                                    <h3 class="title">Rəhbər dəstləri</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/002.jpg" alt="" /> </div>
                                                    <h3 class="title">Menecer dəstləri</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/003.jpg" alt="" /> </div>
                                                    <h3 class="title">İşçi yerləri</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/004.jpg" alt="" /> </div>
                                                    <h3 class="title">Toplantı masaları</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/005.jpg" alt="" /> </div>
                                                    <h3 class="title">Metal mebellər</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/006.jpg" alt="" /> </div>
                                                    <h3 class="title">Kürsü və stullar</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/007.jpg" alt="" /> </div>
                                                    <h3 class="title">Resepşn</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/008.jpg" alt="" /> </div>
                                                    <h3 class="title">Yumşaq mebel</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/009.jpg" alt="" /> </div>
                                                    <h3 class="title">Teatral kürsülər</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/010.jpg" alt="" /> </div>
                                                    <h3 class="title">Aksesuarlar</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/011.jpg" alt="" /> </div>
                                                    <h3 class="title">Restoran-kafe-bar</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/012.jpg" alt="" /> </div>
                                                    <h3 class="title">Təhsil ocaqları </h3>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li aria-haspopup="true" class="scroll-menu"><a href="portfolio.html" class="wshomeico">LAYİHƏLƏR <span class="wsarrow"></span></a>
                                <div class="wsmegamenu clearfix">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-4">
                                                <a href="portfolio.html#filter=.government">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/001.jpg" alt="" /> </div>
                                                    <h3 class="title">Dövlət Müəssisələri</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <a href="portfolio.html#filter=.medical">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/001.jpg" alt="" /> </div>
                                                    <h3 class="title">Tibb Sahəsi</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <a href="portfolio.html#filter=.education">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/002.jpg" alt="" /> </div>
                                                    <h3 class="title">Təhsil Müəssisələri</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <a href="portfolio.html#filter=.cafe">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/003.jpg" alt="" /> </div>
                                                    <h3 class="title">Kafe və Restoran</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <a href="portfolio.html#filter=.hotel">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/002.jpg" alt="" /> </div>
                                                    <h3 class="title">Hotel</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <a href="portfolio.html#filter=.other">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/004.jpg" alt="" /> </div>
                                                    <h3 class="title">Digər</h3>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li aria-haspopup="true" class="scroll-menu"><a href="services.html" class="wshomeico">XİDMƏTLƏR <span class="wsarrow"></span></a>
                                <div class="wsmegamenu clearfix">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-3">
                                                <a href="guarantee.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/001.jpg" alt="" /> </div>
                                                    <h3 class="title">Zəmanət</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="consultation.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/002.jpg" alt="" /> </div>
                                                    <h3 class="title">Pulsuz Konsultasiya</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="3dview.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/003.jpg" alt="" /> </div>
                                                    <h3 class="title">3D Görüntü</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="free-shipping.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/004.jpg" alt="" /> </div>
                                                    <h3 class="title">Pulsuz çatdırılma</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="ssx.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/003.jpg" alt="" /> </div>
                                                    <h3 class="title">Satışdan sonra xidmət</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="catalog-order.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/004.jpg" alt="" /> </div>
                                                    <h3 class="title">Kataloq sifarişi</h3>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li aria-haspopup="true" class="scroll-menu"><a href="stores.html" class="wshomeico">MAĞAZALAR</a></li>
                            <li aria-haspopup="true" class="scroll-menu"><a href="sale.html" class="wshomeico">FÜRSƏTLƏR</a></li>
                            <li aria-haspopup="true" class="responsive-social-icon">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <span class="contact-phone"><i class="fas fa-phone-volume"></i>*3434</span>
                            </li>
                            <li class="center-end scroll-social">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <span class="contact-phone"><i class="fas fa-phone-volume"></i>*3434</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</header>

<section>
    <div class="banner-page">
        <img src="assets/image/banner1.png"/>
        <div class="title-banner">
            <h3>İstehsal</h3>
        </div>
    </div>
</section>

<section class="content-container py-md-5 py-3">
    <div class="container">
        <h2 class="content-name">İstehsal</h2>
        <div class="linear"></div>
        <div class="content-text">
            <p>
                İstehsal seriya və özəl olaraq həyata keçirilir. Siz istədiyiniz ölçüdə mebel sifariş edərək onun istehsalını reallaşdıra bilərsiniz.
            </p>
            <p>
                Azərbaycan Respublikası daxilində şirkətimizin nəzdində 3 böyük fabrik fəaliyyət göstərir. Bunlar Xırdalan, Masallı və Sumqayıt mebel fabrikləridir. Ofis mebellərinin əksər hissəsinin istehsal olunduğu
                Xırdalan fabrikinin aylıq istehsal gücü 9 000 dəstdən çoxdur.
                Xarici ölkələrdə fəaliyyət göstərən fabriklərimiz əsasən xarici bazarlardakı tələbatı ödəmək üçündür. Belə ki, Gürcüstanda 2 (Tiflis və Qardabani), Ukraynada 1 (Lvov) fabrik mövcuddur.
            </p>
            <p>Fabriklərimizdə "Holzma", "Homag", "İma", "Burkle", "Morbidelli", "Biesse" kimi dünya şirkətlərinin müasir avadanlıq və dəzgahlarından istifadə edilməklə postforminq, fiqurlu frezləmə və
                digər yüksək texnologiya tələb edən əməliyyatlar aparılır.
            </p>
            <p>
                Yüksək keyfiyyətli, bütün ekoloji norma və tələblərə cavab verən xammal (dsp, mdf, hdf, dvp), material və aksesuarlar xarici ölkələrin bu sektorda fəaliyyət göstərən ən qabaqcıl firmalarından tədarük edilir.
            </p>
            <p>
                İstehsalda istiyə, suya və zərbəyə davamlı melamin, laminat, pvc üzlüklü lövhələrdən istifadə edilir ki, bu da müştərilərin istək və ehtiyaclarının qarşılanması üçün çeşid çoxluğuna imkan verir.
            </p>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row py-5">
            <div class="col-md-3">
                <div class="footer-logo"><img src="assets/image/logo.png"/></div>
                <ul class="footer-menu-social-icons">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3 pb-3">
                        <div class="footer-menu-title">Haqqımızda</div>
                        <ul class="footer-menu-list">
                            <li><a href="about.html">Biz kimik</a></li>
                            <li><a href="structure.html">Təşkilati struktur</a></li>
                            <li><a href="production.html">İstehsal</a></li>
                            <li><a href="management.html">Layihə idarəetməsi</a></li>
                            <li><a href="vacancy.html">Vakansiya</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 pb-3">
                        <div class="footer-menu-title">Referanslar</div>
                        <ul class="footer-menu-list">
                            <li><a href="reference-letter.html">Referans məktubları</a></li>
                            <li><a href="portfolio.html">Layihələr</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 pb-3">
                        <div class="footer-menu-title">Əlaqə</div>
                        <ul class="footer-menu-list">
                            <li><a href="office.html">Ofis</a></li>
                            <li><a href="stores.html">Salonlar</a></li>
                            <li><a href="contact.html">Bizə yazın</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 pb-3">
                        <div class="footer-menu-title">Digər</div>
                        <ul class="footer-menu-list">
                            <li><a href="ergonomics.html">Erqonomika anlayışı</a></li>
                            <li><a href="news.html">Xəbərlər</a></li>
                            <li><a href="catalog.html">Kataloqlar</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>

<script src="assets/js/jqery-2.2.4.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
<script src="assets/webslidemenu/webslidemenu.js"></script>
<script src="assets/js/jquery.counterup.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/fancybox.min.js"></script>
<script src="assets/js/hammer.min.js"></script>
<script src="assets/js/x-zoom.js"></script>
<script src="assets/js/lightgallery.min.js"></script>
<script src="assets/js/lightslider.min.js"></script>
<script src="assets/js/imagesloaded.min.js"></script>
<script src="assets/js/isotope.js"></script>
<script src="assets/js/steps.min.js"></script>
<script src="assets/js/select2.min.js"></script>
<script src="assets/js/uniform.min.js"></script>
<script src="assets/js/inputmask.js"></script>
<script src="assets/js/validate.min.js"></script>
<script src="assets/js/form_wizard.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>