<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-grid.min.css">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="assets/fonts/fontawesome/styles.min.css"/>

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">

    <!-- MegaMenu -->
    <link rel="stylesheet" href="assets/webslidemenu/dropdown-effects/fade-down.css">
    <link rel="stylesheet" href="assets/webslidemenu/webslidemenu.css">

    <!-- Zoom -->
    <link rel="stylesheet" href="assets/css/xzoom.css">
    <link rel="stylesheet" href="assets/css/jquery.fancybox.css">
    <link rel="stylesheet" href="assets/css/lightgallery.min.css">
    <link rel="stylesheet" href="assets/css/lightslider.min.css">

    <!-- main css -->
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Ideal Dizayn</title>
</head>
<body>
<header>
    <div class="top-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 logo-header">
                    <a href="index.html"><img class="logo" src="assets/image/logo.png"/></a>
                </div>
                <div class="col-md-4">
                    <div class="search">
                            <span class="search-input">
                            <input type="text" class="input-text" placeholder="Sayt üzrə axtarış edin..."/>
                            <button><i class="fas fa-search"></i></button>
                            </span>
                    </div>
                </div>
                <div class="col-md-4 center-end">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                    <span class="contact-phone"><i class="fas fa-phone-volume"></i>*3434</span>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="container">
            <!-- Mobile Header -->
            <div class="wsmobileheader clearfix">
                <div>
                    <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
                    <span class="smllogo"><a href="index.html"><img src="assets/image/logo.png" alt="" /></a></span>
                </div>
                <div class="search">
                        <span class="search-input">
                        <input type="text" class="input-text" placeholder="Sayt üzrə axtarış edin..."/>
                        <button><i class="fas fa-search"></i></button>
                        </span>
                </div>
            </div>
            <!-- Mobile Header -->
            <div class="row py-md-3">
                <div class="col-md-12">
                    <nav class="wsmenu clearfix">
                        <ul class="wsmenu-list">
                            <li class="scroll-logo">
                                <a href="index.html"><img src="assets/image/logo.png"/></a>
                            </li>
                            <li aria-haspopup="true" class="scroll-menu"><a href="#" class="wshomeicon active">MƏHSULLAR <span class="wsarrow"></span></a>
                                <div class="wsmegamenu clearfix">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/001.jpg" alt="" /> </div>
                                                    <h3 class="title">Rəhbər dəstləri</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/002.jpg" alt="" /> </div>
                                                    <h3 class="title">Menecer dəstləri</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/003.jpg" alt="" /> </div>
                                                    <h3 class="title">İşçi yerləri</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/004.jpg" alt="" /> </div>
                                                    <h3 class="title">Toplantı masaları</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/005.jpg" alt="" /> </div>
                                                    <h3 class="title">Metal mebellər</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/006.jpg" alt="" /> </div>
                                                    <h3 class="title">Kürsü və stullar</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/007.jpg" alt="" /> </div>
                                                    <h3 class="title">Resepşn</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/008.jpg" alt="" /> </div>
                                                    <h3 class="title">Yumşaq mebel</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/009.jpg" alt="" /> </div>
                                                    <h3 class="title">Teatral kürsülər</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/010.jpg" alt="" /> </div>
                                                    <h3 class="title">Aksesuarlar</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/011.jpg" alt="" /> </div>
                                                    <h3 class="title">Restoran-kafe-bar</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="product.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/012.jpg" alt="" /> </div>
                                                    <h3 class="title">Təhsil ocaqları </h3>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li aria-haspopup="true" class="scroll-menu"><a href="portfolio.html" class="wshomeico">LAYİHƏLƏR <span class="wsarrow"></span></a>
                                <div class="wsmegamenu clearfix">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-4">
                                                <a href="portfolio.html#filter=.government">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/001.jpg" alt="" /> </div>
                                                    <h3 class="title">Dövlət Müəssisələri</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <a href="portfolio.html#filter=.medical">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/001.jpg" alt="" /> </div>
                                                    <h3 class="title">Tibb Sahəsi</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <a href="portfolio.html#filter=.education">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/002.jpg" alt="" /> </div>
                                                    <h3 class="title">Təhsil Müəssisələri</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <a href="portfolio.html#filter=.cafe">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/003.jpg" alt="" /> </div>
                                                    <h3 class="title">Kafe və Restoran</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <a href="portfolio.html#filter=.hotel">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/002.jpg" alt="" /> </div>
                                                    <h3 class="title">Hotel</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-4">
                                                <a href="portfolio.html#filter=.other">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/004.jpg" alt="" /> </div>
                                                    <h3 class="title">Digər</h3>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li aria-haspopup="true" class="scroll-menu"><a href="services.html" class="wshomeico">XİDMƏTLƏR <span class="wsarrow"></span></a>
                                <div class="wsmegamenu clearfix">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-3">
                                                <a href="guarantee.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/001.jpg" alt="" /> </div>
                                                    <h3 class="title">Zəmanət</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="consultation.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/002.jpg" alt="" /> </div>
                                                    <h3 class="title">Pulsuz Konsultasiya</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="3dview.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/003.jpg" alt="" /> </div>
                                                    <h3 class="title">3D Görüntü</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="free-shipping.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/004.jpg" alt="" /> </div>
                                                    <h3 class="title">Pulsuz çatdırılma</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="ssx.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/003.jpg" alt="" /> </div>
                                                    <h3 class="title">Satışdan sonra xidmət</h3>
                                                </a>
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <a href="catalog-order.html">
                                                    <div class="fluid-width-video-wrapper"><img src="assets/image/menu/004.jpg" alt="" /> </div>
                                                    <h3 class="title">Kataloq sifarişi</h3>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li aria-haspopup="true" class="scroll-menu"><a href="stores.html" class="wshomeico">MAĞAZALAR</a></li>
                            <li aria-haspopup="true" class="scroll-menu"><a href="sale.html" class="wshomeico">FÜRSƏTLƏR</a></li>
                            <li aria-haspopup="true" class="responsive-social-icon">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <span class="contact-phone"><i class="fas fa-phone-volume"></i>*3434</span>
                            </li>
                            <li class="center-end scroll-social">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                                <span class="contact-phone"><i class="fas fa-phone-volume"></i>*3434</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</header>

<section class="breadcrumb-menu">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">İdeal Dizayn</a></li>
            <li class="breadcrumb-item"><a href="product.html">Ofis Mebeli</a></li>
            <li class="breadcrumb-item">Radika</li>
        </ul>
    </div>
</section>

<section class="product-content py-md-4 py-3">
    <div class="container">
         <div class="row">
              <div class="col-lg-6">
                  <div class="product_gallery_collection">
                      <div class="product-gallery d-none d-lg-flex">
                          <div class="xzoom-container main_image">
                              <img class="xzoom4" id="xzoom-fancy" src="assets/image/product/radika1.jpg" xoriginal="assets/image/product/radika1.jpg" />
                              <div class="xzoom-thumbs">
                                  <a href="assets/image/product/radika1.jpg"><img class="xzoom-gallery4" src="assets/image/product/radika1.jpg"  xpreview="assets/image/product/radika1.jpg"></a>
                                  <a href="assets/image/product/radika2.jpg"><img class="xzoom-gallery4" src="assets/image/product/radika2.jpg"></a>
                                  <a href="assets/image/product/radika3.jpg"><img class="xzoom-gallery4" src="assets/image/product/radika3.jpg"></a>
                                  <a href="assets/image/product/1.jpg"><img class="xzoom-gallery4" src="assets/image/product/1.jpg"></a>
                              </div>
                          </div>
                      </div>
                      <div class="product-gallery-mobile d-block d-lg-none">
                          <ul id="imageGallery">
                              <li data-thumb="assets/image/product/radika1.jpg" data-src="assets/image/product/radika1.jpg">
                                  <img class="product-slider-image" src="assets/image/product/radika1.jpg" />
                              </li>
                              <li data-thumb="assets/image/product/radika2.jpg" data-src="assets/image/product/radika2.jpg">
                                  <img class="product-slider-image" src="assets/image/product/radika2.jpg" />
                              </li>
                              <li data-thumb="assets/image/product/radika3.jpg" data-src="assets/image/product/radika3.jpg">
                                  <img class="product-slider-image" src="assets/image/product/radika3.jpg" />
                              </li>
                              <li data-thumb="assets/image/product/1.jpg" data-src="assets/image/product/1.jpg">
                                  <img class="product-slider-image" src="assets/image/product/1.jpg" />
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                   <h2 class="product_name">Line</h2>
                  <p class="product-title">
                      Dəst zebrano-ağ rəngdə hazırlanmışdır. Line  rəhbər dəstinə masa, yan tumba, jurnal masa və kiçik dolab daxildir.
                      Yan tumba ağ rəngdə boya ilə rənglənmişdir. Dəstin ayağı ağ metaldan hazırlanmışdır.
                  </p>
                  <h3 class="guarantee">Zəmanət: <span>2 il</span></h3>
                  <div class="product-color">
                      <h3 class="color-title">Rəng seçimləri</h3>
                      <ul>
                          <li class="color-img"><img src="assets/image/color/ceviz.jpg"/></li>
                          <li class="color-img"><img src="assets/image/color/mahon.jpg"/></li>
                          <li class="color-img"><img src="assets/image/color/yabani_armud.png"/></li>
                      </ul>
                      <ul class="social-icons-product">
                          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      </ul>
                  </div>
              </div>
         </div>
    </div>
</section>

<section class="details py-md-4 py-3">
    <div class="container">
        <div class="tabs-details">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-parts" role="tab" aria-controls="pills-home" aria-selected="true">HİSSƏLƏR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-forms" role="tab" aria-controls="pills-profile" aria-selected="false">DÜZÜLÜŞLƏR</a>
                </li>
            </ul>
            <div class="tab-content p-4" id="pills-tabContent">
                <div class="tab-pane fade show active parts" id="pills-parts" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" data-toggle="pill" href="#v-pills-tab1" role="tab" aria-controls="v-pills-home" aria-selected="true">Masalar</a>
                                <a class="nav-link" data-toggle="pill" href="#v-pills-tab2" role="tab" aria-controls="v-pills-profile" aria-selected="false">Dolablar</a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-tab1" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a href="product-module.html">
                                                <div class="part">
                                                    <img src="assets/image/product/jurnal.jpg"/>
                                                    <p>Jurnal masa</p>
                                                    <p class="price">58 AZN</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="product-module.html">
                                                <div class="part">
                                                    <img src="assets/image/product/yanmasa.jpg"/>
                                                    <p>Yan Masa</p>
                                                    <p class="price">78 AZN</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="product-module.html">
                                                <div class="part">
                                                    <img src="assets/image/product/toplanti.jpg"/>
                                                    <p>Toplantı masa</p>
                                                    <p class="price">65 AZN</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="product-module.html">
                                                <div class="part">
                                                    <img src="assets/image/product/masa.jpg"/>
                                                    <p>Masa</p>
                                                    <p class="price">58 AZN</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-tab2" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                    <div class="col-md-3">
                                        <a href="product-module.html">
                                            <div class="part">
                                                <img src="assets/image/product/dolab.jpg"/>
                                                <p>Dolab</p>
                                                <p class="price">58 AZN</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-forms" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="part">
                                <img src="assets/image/product/sekil1.jpg"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="part">
                                <img src="assets/image/product/sekil2.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row py-5">
            <div class="col-md-3">
                <div class="footer-logo"><img src="assets/image/logo.png"/></div>
                <ul class="footer-menu-social-icons">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3 pb-3">
                        <div class="footer-menu-title">Haqqımızda</div>
                        <ul class="footer-menu-list">
                            <li><a href="about.html">Biz kimik</a></li>
                            <li><a href="structure.html">Təşkilati struktur</a></li>
                            <li><a href="production.html">İstehsal</a></li>
                            <li><a href="management.html">Layihə idarəetməsi</a></li>
                            <li><a href="vacancy.html">Vakansiya</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 pb-3">
                        <div class="footer-menu-title">Referanslar</div>
                        <ul class="footer-menu-list">
                            <li><a href="reference-letter.html">Referans məktubları</a></li>
                            <li><a href="portfolio.html">Layihələr</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 pb-3">
                        <div class="footer-menu-title">Əlaqə</div>
                        <ul class="footer-menu-list">
                            <li><a href="office.html">Ofis</a></li>
                            <li><a href="stores.html">Salonlar</a></li>
                            <li><a href="contact.html">Bizə yazın</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 pb-3">
                        <div class="footer-menu-title">Digər</div>
                        <ul class="footer-menu-list">
                            <li><a href="ergonomics.html">Erqonomika anlayışı</a></li>
                            <li><a href="news.html">Xəbərlər</a></li>
                            <li><a href="catalog.html">Kataloqlar</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>

<script src="assets/js/jqery-2.2.4.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
<script src="assets/webslidemenu/webslidemenu.js"></script>
<script src="assets/js/jquery.counterup.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/fancybox.min.js"></script>
<script src="assets/js/hammer.min.js"></script>
<script src="assets/js/x-zoom.js"></script>
<script src="assets/js/lightgallery.min.js"></script>
<script src="assets/js/lightslider.min.js"></script>
<script src="assets/js/imagesloaded.min.js"></script>
<script src="assets/js/isotope.js"></script>
<script src="assets/js/steps.min.js"></script>
<script src="assets/js/select2.min.js"></script>
<script src="assets/js/uniform.min.js"></script>
<script src="assets/js/inputmask.js"></script>
<script src="assets/js/validate.min.js"></script>
<script src="assets/js/form_wizard.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>